<main class="main-container">
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
<app-drug-card></app-drug-card>
</main>